---
import Section from "../Section.astro";

import data from "@cv";

const { locale = "es" } = Astro.params;

const { summary } = data[locale as keyof typeof data].basics;
---

<Section title={locale === "es" ? "Sobre mi" : "About me"}>
  <p class="text-justify">
    {summary}
  </p>
</Section>
