---
import Section from "../Section.astro";
import HTML from "@/components/icons/cv/html.astro";
import CSS from "@/components/icons/cv/css.astro";
import JavaScript from "@/components/icons/cv/javascript.astro";
import TypeScript from "@/components/icons/cv/type.astro";
import React from "@/components/icons/cv/react.astro";
import Node from "@/components/icons/cv/node.astro";
import MySQL from "@/components/icons/cv/sql.astro";
import Git from "@/components/icons/cv/git.astro";
import GitHub from "@/components/icons/GitHub.astro";
import Tailwind from "@/components/icons/cv/tailwind.astro";
import Next from "@/components/icons/cv/next.astro";
import Nest from "@/components/icons/cv/nest.astro";
import Azure from "@/components/icons/cv/azure.astro";
import SQLServer from "@/components/icons/cv/sqlserver.astro";
import AtomicDesign from "@/components/icons/cv/atomicDesign.astro";
import Azdo from "@/components/icons/cv/azdo.astro";
import Communication from "@/components/icons/cv/communication.astro";
import Leadership from "@/components/icons/cv/leadership.astro";
import data from "@cv";

const { locale = "es" } = Astro.params;

const { skills } = data[locale as keyof typeof data];

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  Nest,
  Azure,
  SQLServer,
  AtomicDesign,
  Azdo,
  Communication,
  Leadership,
};
---

<Section title="Habilidades">
  <ul class="inline-flex gap-2 flex-wrap">
    {
      skills.map(({ name, key }) => {
        const Icon = SKILLS_ICONS[key];

        return (
          <li class="flex items-center bg-[#eee] rounded-md text-black text-xs font-medium gap-1 py-1 px-2">
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>
