---
import CvLayout from "@/layouts/CvLayout.astro";

import About from "@/components/cv/sections/About.astro";
import Education from "@/components/cv/sections/Education.astro";
import Experience from "@/components/cv/sections/Experience.astro";
import Hero from "@/components/cv/sections/Hero.astro";
import Projects from "@/components/cv/sections/Projects.astro";
import Skills from "@/components/cv/sections/Skills.astro";
import KeyboardManager from "@/components/cv/KeyboardManager.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<CvLayout title={`Portafolio de ${name} - ${label}`}>
  <main class="lg:p-16 m-auto w-full p-8">
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>

  <KeyboardManager />
</CvLayout>
